<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>meep paste</title>
  </head>
  <style>
   html, body {
     background-color: {{bg_color}};
   }

   span {
     font-style: normal !important;
   }
  </style>
  <body>
    {{{contents}}}
  </body>
</html>
